Exercise 1: Calculate the multiplication and sum of two numbers. Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [1]:
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
if x*y<=1000:
    print("Product = ",x*y)
else:
    print("Sum = ",x+y)

Enter the first number: 30
Enter the second number: 40
Sum =  70

Exercise 2: Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [2]:
n = int(input("Enter the range: "))
previous_num = 0
for i in range(n):
    Sum = i +previous_num
    print("Current Number ",i," Previous Number "+str(previous_num)+" Sum = "+str(Sum))
    previous_num=i

Enter the range: 10
Current Number  0  Previous Number 0 Sum = 0
Current Number  1  Previous Number 0 Sum = 1
Current Number  2  Previous Number 1 Sum = 3
Current Number  3  Previous Number 2 Sum = 5
Current Number  4  Previous Number 3 Sum = 7
Current Number  5  Previous Number 4 Sum = 9
Current Number  6  Previous Number 5 Sum = 11
Current Number  7  Previous Number 6 Sum = 13
Current Number  8  Previous Number 7 Sum = 15
Current Number  9  Previous Number 8 Sum = 17

Exercise 3: Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

In [3]:
str = "pynative"
for i in str[0::2]:
    print(i)

p
n
t
v

Exercise 4: Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

In [4]:
string= input("Enter the word: ")
n = int(input("Enter the number till which characters have to be removed: "))
print("\n",string[n::])

Enter the word: pynative
Enter the number till which characters have to be removed: 4

 tive

In [5]:
def remove(word,n):
    x = word[n::]
    return x
string= input("Enter the word: ")
n = int(input("Enter the number till which characters have to be removed: "))
remove(string,n)

Enter the word: pynative
Enter the number till which characters have to be removed: 2

'native'

Exercise 5: Check if the first and last number of a list is the same

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [6]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
def check(l):
    if l[0]==l[-1]:
        return True
    else:
        return False
print(check(numbers_x))   
print(check(numbers_y))

True
False

Exercise 6: Display numbers divisible by 5 from a list
Iterate the given list of numbers and print only those numbers which are divisible by 5

In [7]:
Given_list =  [10, 20, 33, 46, 55]
def divisible_by_5(l):
    for i in l:
        if i%5==0:
            print(i)
divisible_by_5(Given_list)

10
20
55

Exercise 7: Return the count of a given substring from a string
Write a program to find how many times substring “Emma” appears in the given string.

In [8]:
strinf = "Emma is good developer. Emma is a writer"
strinf.count("Emma")

2

Exercise 8: Print the following pattern

In [9]:
m=int(input("Enter range: "))
for i in range(1,m+1):
    for j in range(1,i+1):
        print(i ,end=" ")
    print("\t\t\t\t")

Enter range: 6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

Exercise 9: Check Palindrome Number
Write a program to check if the given number is a palindrome number.

In [10]:
n = int(input('Enter a number: '))
def palindrome(n):
    original = n
    reverse=0
    while n>0:
        remainder=n%10
        reverse = remainder+(reverse*10)
        n=n//10
    if reverse == original:
        print("Is a Palindrome")
    else:
        print("Not a Palindrome")
palindrome(n)

Enter a number: 12345556543322
Not a Palindrome

Exercise 10: Create a new list from a two list using the following condition. Create a new list from a two list using the following condition

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [11]:
l1 = [10, 20, 25, 30, 35]
l2 = [40, 45, 60, 75, 90]
l = [ ]
for i in l1:
    if i%2!=0:
        l.append(i)
for j in l2:
    if j%2==0:
        l.append(j)
l

[25, 35, 40, 60, 90]

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

In [12]:
n = int(input("Enter a number: "))

while n>0:
    remainder = n%10
    n=n//10
    print(remainder,end=" ")

Enter a number: 12458679
9 7 6 8 5 4 2 1

Exercise 12: Calculate income tax for the given income by adhering to the below rules:
Taxable Income	Rate (in %)
First $10,000	0
Next $10,000	10
The remaining	20

In [13]:
n = int(input("Enter your Salary: "))
if n<10000:
    print("No tax")
elif n>10000 and n<20000:
    tax = (n-10000)*10
    print("Your tax is: ",tax)
elif n>20000:
    tax = (10000)*0.1+ (n-20000)*0.2
    print("Your Tax is: ",tax)

Enter your Salary: 1000000
Your Tax is:  197000.0

Exercise 13: Print multiplication table form 1 to 10

In [14]:
n = int(input("Enter the number: "))
for i in range(1,n+1):
    for j in range(1,11):
        print(i*j, end=" ")
    print("\t\t\t\t")

Enter the number: 10
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

In [15]:
n = 5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print("\t\t\t")

* * * * *
* * * *
* * *
* *
*

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [16]:
base = int(input("Enter the base: "))
power = int(input("Enter the power: "))
print(base, "raises to the power of",power,"is", base**power)

Enter the base: 5
Enter the power: 10
5 raises to the power of 10 is 9765625

Exercise 16 :Write a program to use string.format() method to format the following three variables as per the expected output

In [17]:
totalmoney = 1000
quantity = 3
price = 450

statement = "I have {0} dollars so I can buy {1} football for {2} dollars."
statement.format(totalmoney,quantity,price)

'I have 1000 dollars so I can buy 3 football for 450 dollars.'

Exercise 17 : Write a program to print the following number pattern using a loop.

In [18]:
k = int(input("Enter the range: "))
for i in range(1,k+1):
    for j in range(1,i+1):
        print(j, end=" ")
    print("\t\t\t\t")

Enter the range: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Exercise 18 : Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

In [19]:
a = int(input("Enter the number: "))
sum = 0
for i in range(1,a+1):
    sum+=i
print(sum)

Enter the number: 200
20100

Exercise 19 : Write a program to count the total number of digits in a number using a while loop.

In [20]:
b = int(input("Enter a number: "))
count = 0
while b>0:
    remain = b%10
    count+=1
    b = b//10
print(count)

Enter a number: 234589052345654
15

Exercise 20 : Write a program to use for loop to print the following reverse number pattern

In [21]:
c = int(input("Enter a number: "))
for i in range(c,0,-1):
    for j in range(i,0,-1):
        print(j, end = " ")
    print("\t\t\t")

Enter a number: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 21 : Print list in reverse order using a loop

In [22]:
list1 = [10, 20, 30, 40, 50]
for i in list1[::-1]:
    print(i)

50
40
30
20
10

Exercise 22 : Write a program to display all prime numbers within a range

In [23]:
start = int(input("Enter the start number: "))
end = int(input("Enter the end limit: "))
for i in range(start,end+1):
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i,end = " ")

Enter the start number: 2
Enter the end limit: 100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

Exercise 23 : Display Fibonacci series up to 10 terms

In [24]:
d = int(input("Enter the number: "))
previous = 0
current = 1
for i in range(0,d):
    print(previous, end = " ")
    result = previous+current
    previous = current
    current = result

Enter the number: 10
0 1 1 2 3 5 8 13 21 34

Exercise 24 : Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [25]:
h = int(input("Enter the number: "))
f = 2
suum =2
for i in range(1,h):
    f = 2*(10**i)+f
    suum +=f
print(suum)

Enter the number: 7
2469134

Exercise 25 : Write a program to use the loop to find the factorial of a given number.

In [29]:
g = int(input("Enter the number: "))
fact = 1
if g>=1:
    for i in range(1,g+1):
        fact = fact*i
    print("The factorial is: ", fact)

Enter the number: 5
The factorial is:  120